<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myboy.appcollection">

    <!-- 危险权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        <!-- 读取日历和相机 -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

        <!-- 短信权限和通讯录权限
         第一个和第二个是为了开启Mob的SMS智能验证权限
         -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
        <!-- wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 安全权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 如果你正在从 URL 加载图片，Glide 可以自动帮助你处理片状网络连接：它可以监听用户的连接状态并
    在用户重新连接到网络时重启之前失败的请求。如果 Glide 检测到你的应用拥有 ACCESS_NETWORK_STATE 权
    限，Glide 将自动监听连接状态而不需要额外的改动。    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--&lt;!&ndash; 腾讯Bugly 配置热更新 &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.tencent.bugly.beta.ui.BetaActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize|locale"-->
            <!--android:theme="@android:style/Theme.Translucent" />-->

        <activity android:name=".cardgame.GameActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="card"
                    android:host="www.ddz.com"/>
            </intent-filter>
        </activity>

        <activity android:name=".cardgame.activity.setting.GameSetting"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:screenOrientation="landscape"/>

        <activity android:name=".cardgame.activity.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppCompatFullScreen"/>

        <activity android:name=".cardgame.activity.video.VideoCenterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppCompatFullScreen"/>

        <activity android:name=".videoplayer.VideoPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppCompatFullScreen"/>

        <activity android:name=".cardgame.activity.home.HomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppCompatFullScreen"/>



        <activity
            android:theme="@style/MyTransParentStyle"
            android:name=".desktop.DeskTopActivity"/>

        <activity android:name=".search.bean.BaseBean"/>

        <activity android:name=".search.SortActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                />
        </provider>

        <service android:name=".cardgame.service.KeepAliveService">
            <intent-filter>
                <action android:name="yyy.card.game"/>
            </intent-filter>
        </service>

        <receiver android:name=".cardgame.service.GameReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>